---
interface Props {
  label: string;
  type?:
    | "default"
    | "success"
    | "warning"
    | "danger"
    | "info"
    | "loading"
    | "support";
  variant?: "filled" | "soft" | "outline" | "gradient" | "glass";
  color?: string;
  gradientColors?: string[];
  textColor?: string;
}

const {
  label,
  type = "default",
  variant = "solid",
  color,
  gradientColors = ["#6366f1", "#ec4899"],
  textColor,
} = Astro.props;

const gradient = `linear-gradient(90deg, ${gradientColors.join(",")})`;

const style = `
  ${color ? `--type-color: ${color};` : ""}
  ${textColor ? `--badge-text: ${textColor};` : ""}
  --badge-gradient: ${gradient};
`;
---

<span class={`badge type--${type} variant--${variant}`} style={style}>
  {label}
</span>

<style>
  .badge {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.6rem;
    font-size: 0.75rem;
    font-weight: 300;
    border-radius: 999px;
    line-height: 1;
    border: 1px solid transparent;
    color: var(--type-color);
    font-family: "Fira Code", monospace;
  }
</style>
