---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Toastro | The Minimalist Toast Library for Astro & NextJS",
  description = "Lightweight, customizable, and high-performance toast notifications for Astro. Built with performance and developer experience in mind.",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />

<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="/og-image.png" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
